
*{
    box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Spartan', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');;
html {
    font-size: 62.5%;
width: 100%;
}

:root{
    --primary-color1: #0B090A;
    --primary-color2: #161A1D;
    --primary-color3: #660708;
    --primary-color4: #A4161A;
    --primary-color5: #BA181B ;
    --primary-color6: #E5383B ;
    --primary-color7: #B1A7A6 ;
    --primary-color8: #D3D3D3 ;
    --primary-color9: #F5F3F4 ;
    --primary-color10: #FFFFFF ;
    --header-size: 4rem;
    --font-18px: 1.8rem;}

.main-navigation{
    display: flex;
        font-size: 0.9rem;
    background-color: var(--primary-color1);color: var(--primary-color10);
    justify-content: space-evenly;
    align-items:center;
    height: 67px;
}
.icono{
    width: 15px;
}
.logo{
    width:50px;
}
.instagram{
    color: white;
}
a{
    text-decoration:none;
    color:white;
}

.main-main{
    background-color:var(--primary-color9);
    color: var(--primary-color1);
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;}

.main-header-navi{
    position: fixed;
    z-index: 10;
    width: 100vw;
}
.main__h1{
 margin-top: 58px;
padding: 13px 0px 25px 0;
text-align: center;
width: 100vw;
}

.container{
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
    display: flex;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}


ul.slider{
   position: relative;
    width: 320px;
    height: 300px;
}

ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s ;
}

ul.slider li img{
    width: 320px;
    height: 300px;
    object-fit: cover;
    position: absolute;
}


ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.menu{
    text-align: center;
    margin: 20px;
    
}


.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    width: 20px;
    height: 24px;
    font-size: 1.3rem;
    border-radius: 100%;
}

/* .main__caruselfotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.carusel--fotos{
    padding: 15px;
    height: 300px;
    width: 300px;
    
} */

.grid{
    margin-top: 70px;
    width: 100vw;
    height: 40vh;
    place-items: center;
    display:grid;
    grid-template-areas: "a a"
                         "b c"
                         "d e";
    text-align: center;
    gap:4%;
    justify-content: space-around;
}

.a{
    grid-area:a;
}
.b{
   
    background-image: url(./imagenes/facilitamos-tu-experiencia-v2.webp);
    grid-area:b;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.c{
    background-image: url(./imagenes/todo-en-un-solo-lugar-v2.webp);
    grid-area:c;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.d{
    background-image: url(./imagenes/reportes-y-estados-digitales-v2.webp);
    grid-area:d;
    width: 100%;
    height: 100%;
    
}
.e{
    background-image: url(./imagenes/servicio-a-domicilio.webp);
    grid-area:e;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.grid__titulo{
    text-shadow: -2px -2px 5px rgb(0, 0, 0);
    color:var(--primary-color10) ;
}
.grid__parrafo{
    color: var(--primary-color1);
    text-shadow: 1px -1px 1px rgb(255 255 255);
   }

.grid__boton{
    position: relative;
    top:0.8rem;
    width: 10rem;
    border-radius: 10px;
    background-color: var(--primary-color6);
    color: var(--primary-color10);
}
.a,.main__h1{
   font-weight: 500;

}

.grid__titulo{
    
    font-weight: 300;
}

.grid__parrafo{
font-weight: 200;
}
.grid__boton{   
}

footer{
    background-color:var(--primary-color7);
    color: var(--primary-color2);
    font-size: 0.8rem;
    }

@media screen and (min-width:320px) and (max-width:947px) {
        .b,.c,.d,.e{
            
        font-size: 1.3rem;}
        
            
        .a, .main__h1{
            font-size: 2.3rem;
        }
        .grid__boton {
            width: 50%;
            font-size: 0.6rem}
        .grid__parrafo{
        font-size:0.9rem; }

        .main__h1{
            margin-top: 134px;
        }
    }
    
    @media screen and (min-width:948px){
        .b,.c,.d,.e{
            
            font-size: 2rem;}
            
        .a, .main__h1{
            font-size: 2.3rem;
        }
        .grid__parrafo{
            font-size:1.5rem;
            max-width: 613px; }
        .grid__boton {
              font-size: 1.2rem}
        .main-navigation{
            font-size: 1.5rem;
        }
        .main-navigation img{
            width: 30px;
        }
    }
