*{
    box-sizing: border-box;
margin: 0;
padding: 0;
}
html {
    font-size: 62.5%;
width: 100%;
}
body {
    font-size: 1.6rem;
}
:root{
    --primary-color1: #0B090A;
    --primary-color2: #161A1D;
    --primary-color3: #660708;
    --primary-color4: #A4161A;
    --primary-color5: #BA181B ;
    --primary-color6: #E5383B ;
    --primary-color7: #B1A7A6 ;
    --primary-color8: #D3D3D3 ;
    --primary-color9: #F5F3F4 ;
    --primary-color10: #FFFFFF ;
    --header-size: 4rem;
    --font-18px: 1.8rem;}

.main-navigation{
    display: flex;
        font-size: 1.3rem;
    background-color: var(--primary-color1);color: var(--primary-color10);
    justify-content: space-evenly;
    align-items:center;
    height: 67px;
}
.icono{
    width: 15px;
}
.logo{
    width:50px;
}
.instagram{
    color: white;
}
a{
    text-decoration:none;
    color:white;
}

.main-main{
    background-color:var(--primary-color9);
    color: var(--primary-color1);
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;}

.main-header-navi{
    position: fixed;
    z-index: 10;
    width: 100vw;
}
.main__h1{
padding: 66px 0 0 0;
text-align: center;
width: 100vw;
}

.container{
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
    display: flex;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}


ul.slider{
    position: relative;
    width: 320px;
    height: 300px;
}

ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s ;
}

ul.slider li img{
    width: 320px;
    height: 300px;
    object-fit: cover;
    position: absolute;
}


ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.menu{
    text-align: center;
    margin: 20px;
}

.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    width: 20px;
    height: 24px;
    font-size: 2.0rem;
    border-radius: 100%;
}

/* .main__caruselfotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.carusel--fotos{
    padding: 15px;
    height: 300px;
    width: 300px;
    
} */
footer{
    background-color:var(--primary-color7);
    color: var(--primary-color2);
    }